h1{color:red;}
p{color:blueviolet;background-color:chartreuse;}
*{
    background-image: url(https://rukminim2.flixcart.com/image/850/1000/kxxl9jk0/poster/b/g/l/small-1tnnqyns-leaves-light-green-background-wallpaper-poster-vp-original-imaga9xskywbqaxv.jpeg?q=20&crop=false);
}

